<footer class="footer bg-light pt-6">
    <div class="container">
      <div class="row">
        <div class="col-md-4 my-3">
          <h6>About Yavin</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Molestiae, possimus! Similique asperiores aliquid accusantium
            laudantium.
          </p>
        </div>
        <div class="col-md-4 my-3">
          <h6>Links</h6>
          <ul class="list-unstyled">
            <li>
              Important: <a href="#">Terms & Conditions</a>,
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              Useful: <a href="#">Icon Library</a>,
              <a href="#">Illustrations</a>
            </li>
            <li>
              Menu: <a href="#">Home</a>, <a href="#details">Details</a>,
              <a href="#services">Services</a>, <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 my-3">
          <div class="mb-4">
            <a href="#" class="text-decoration-none">
              <i class="fab fa-facebook fa-3x text-dark mx-2"></i>
            </a>
            <a href="#" class="text-decoration-none">
              <i class="fab fa-twitter fa-3x text-dark mx-2"></i>
            </a>
            <a href="#" class="text-decoration-none">
              <i class="fab fa-instagram fa-3x text-dark mx-2"></i>
            </a>
            <a href="#" class="text-decoration-none">
              <i class="fab fa-pinterest fa-3x text-dark mx-2"></i>
            </a>
          </div>
          <p>
            We would love to hear from you
            <a href="mailto:contact@site.com"><strong>contact&#64;site.com</strong></a
            >
          </p>
        </div>
      </div>
    </div>

        <!-- Copyright -->
        <div class="copyright bg-gray">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <p class="p-small">Copyright © <a href="#your-link">Your name</a></p>
                  </div> <!-- end of col -->
              </div> <!-- enf of row -->
  
              <div class="row">
                  <div class="col-lg-12">
                      <p class="p-small">Distributed By <a href="https://themewagon.com/">Themewagon</a></p>
                  </div> <!-- end of col -->
              </div> <!-- enf of row -->
          </div> <!-- end of container -->
      </div> <!-- end of copyright --> 
      <!-- end of copyright -->
  </footer>
  